<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- Car Example-->
    <bean id="PetrolEngine" class="at.fhv.spring.di.bestPractices.carExample.PetrolEngine"></bean>
    <bean id="DrumBrakes" class="at.fhv.spring.di.bestPractices.carExample.DrumBrakes"></bean>

    <!-- Constructor DI-->
    <bean id="Car" class="at.fhv.spring.di.bestPractices.carExample.Car">
        <constructor-arg ref="DrumBrakes"></constructor-arg>
        <constructor-arg ref="PetrolEngine"></constructor-arg>
    </bean>

    <!-- Setter DI-->
    <!--    <bean id="Car" class="at.fhv.spring.di.bestPractices.carExample.Car">-->
    <!--        <property name="engine" ref="PetrolEngine"/>-->
    <!--        <property name="brakes" ref="DrumBrakes"/>-->
    <!--    </bean>-->


    <!-- General example -->
    <bean id="MyService" class="at.fhv.spring.di.bestPractices.beans.MyService"></bean>

    <bean id="ConfigFileConstructorComponent" class="at.fhv.spring.di.bestPractices.nonAutowired.controllers.ConfigFileConstructorComponent">
        <constructor-arg ref="MyService"></constructor-arg>
    </bean>    
    <bean id="ConfigFileSetterComponent" class="at.fhv.spring.di.bestPractices.nonAutowired.controllers.ConfigFileSetterComponent">
        <property name="service" ref="MyService"/>
    </bean>

</beans>

