<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="MyService" class="at.fhv.spring.di.bestPractices.beans.MyService"></bean>
    <bean id="Engine" class="at.fhv.spring.di.bestPractices.carExample.Engine"></bean>

    <bean id="XMLBasedConstructorController" class="at.fhv.spring.di.bestPractices.nonAutowired.controllers.XMLBasedConstructorController">
        <constructor-arg ref="MyService"></constructor-arg>
    </bean>    
    <bean id="XMLBasedSetterController" class="at.fhv.spring.di.bestPractices.nonAutowired.controllers.XMLBasedSetterController">
        <property name="service" ref="MyService"/>
    </bean>

    <bean id="Car" class="at.fhv.spring.di.bestPractices.carExample.Car">
        <property name="engine" ref="Engine"/>
    </bean>


</beans>

